In [15]:
import pandas as pd
colNames = ["value"]
df = pd.read_csv('dataOriginal.txt', names=colNames, sep=" ", header=0)
print(df)

         value
0        -1375
1        -1375
2        -1375
3        -1375
4        -1375
5        -1375
6        -1375
7        -1375
8        -1375
9        -1375
10       -1375
11       -1375
12       -1375
13       -1375
14       -1375
15       -1375
16       -1375
17       -1375
18       -1375
19       -1375
20       -1375
21       -1375
22       -1375
23       -1375
24       -1375
25       -1375
26       -1375
27       -1375
28       -1375
29       -1375
...        ...
2817889  -1375
2817890  -1375
2817891  -1375
2817892  -1375
2817893  -1375
2817894  -1375
2817895  -1375
2817896  -1375
2817897  -1375
2817898  -1375
2817899  -1375
2817900  -1375
2817901  -1375
2817902  -1375
2817903  -1375
2817904  -1375
2817905  -1375
2817906  -1375
2817907  -1375
2817908  -1375
2817909  -1375
2817910  -1375
2817911  -1375
2817912  -1375
2817913  -1375
2817914  -1375
2817915  -1375
2817916  -1375
2817917  -1375
2817918  -1375

[2817919 rows x 1 columns]

In [16]:
df.tail

<bound method NDFrame.tail of          value
0        -1375
1        -1375
2        -1375
3        -1375
4        -1375
5        -1375
6        -1375
7        -1375
8        -1375
9        -1375
10       -1375
11       -1375
12       -1375
13       -1375
14       -1375
15       -1375
16       -1375
17       -1375
18       -1375
19       -1375
20       -1375
21       -1375
22       -1375
23       -1375
24       -1375
25       -1375
26       -1375
27       -1375
28       -1375
29       -1375
...        ...
2817889  -1375
2817890  -1375
2817891  -1375
2817892  -1375
2817893  -1375
2817894  -1375
2817895  -1375
2817896  -1375
2817897  -1375
2817898  -1375
2817899  -1375
2817900  -1375
2817901  -1375
2817902  -1375
2817903  -1375
2817904  -1375
2817905  -1375
2817906  -1375
2817907  -1375
2817908  -1375
2817909  -1375
2817910  -1375
2817911  -1375
2817912  -1375
2817913  -1375
2817914  -1375
2817915  -1375
2817916  -1375
2817917  -1375
2817918  -1375

[2817919 rows x 1 columns]>

In [17]:
format(df.shape)

'(2817919, 1)'

In [18]:
df2 = pd.read_csv('dataBroken.txt', names=colNames, sep=" ", header=0)
print(df2)

         value
0         -117
1          -48
2           -7
3          -96
4         -186
5         -275
6         -357
7         -213
8         -213
9         -344
10        -440
11        -529
12        -584
13        -385
14        -158
15         -14
16        -406
17        -619
18        -688
19        -777
20        -784
21        -557
22        -330
23        -103
24        -144
25        -598
26        -921
27        -935
28       -1031
29        -956
...        ...
1048545  -1375
1048546  -1375
1048547  -1375
1048548  -1375
1048549  -1375
1048550  -1375
1048551  -1375
1048552  -1375
1048553  -1375
1048554  -1375
1048555  -1375
1048556  -1375
1048557  -1375
1048558  -1375
1048559  -1375
1048560  -1375
1048561  -1375
1048562  -1375
1048563  -1375
1048564  -1375
1048565  -1375
1048566  -1375
1048567  -1375
1048568  -1375
1048569  -1375
1048570  -1375
1048571  -1375
1048572  -1375
1048573  -1375
1048574  -1375

[1048575 rows x 1 columns]

In [19]:
df3 = pd.read_csv('dataNew.txt', names=colNames, sep=" ", header=0)
print(df3)

         value
0         -117
1          -48
2           -7
3          -96
4         -186
5         -275
6         -357
7         -213
8         -213
9         -344
10        -440
11        -529
12        -584
13        -385
14        -158
15         -14
16        -406
17        -619
18        -688
19        -777
20        -784
21        -557
22        -330
23        -103
24        -144
25        -598
26        -921
27        -935
28       -1031
29        -956
...        ...
1048545  -1375
1048546  -1375
1048547  -1375
1048548  -1375
1048549  -1375
1048550  -1375
1048551  -1375
1048552  -1375
1048553  -1375
1048554  -1375
1048555  -1375
1048556  -1375
1048557  -1375
1048558  -1375
1048559  -1375
1048560  -1375
1048561  -1375
1048562  -1375
1048563  -1375
1048564  -1375
1048565  -1375
1048566  -1375
1048567  -1375
1048568  -1375
1048569  -1375
1048570  -1375
1048571  -1375
1048572  -1375
1048573  -1375
1048574  -1375

[1048575 rows x 1 columns]

In [20]:
df3.head

<bound method NDFrame.head of          value
0         -117
1          -48
2           -7
3          -96
4         -186
5         -275
6         -357
7         -213
8         -213
9         -344
10        -440
11        -529
12        -584
13        -385
14        -158
15         -14
16        -406
17        -619
18        -688
19        -777
20        -784
21        -557
22        -330
23        -103
24        -144
25        -598
26        -921
27        -935
28       -1031
29        -956
...        ...
1048545  -1375
1048546  -1375
1048547  -1375
1048548  -1375
1048549  -1375
1048550  -1375
1048551  -1375
1048552  -1375
1048553  -1375
1048554  -1375
1048555  -1375
1048556  -1375
1048557  -1375
1048558  -1375
1048559  -1375
1048560  -1375
1048561  -1375
1048562  -1375
1048563  -1375
1048564  -1375
1048565  -1375
1048566  -1375
1048567  -1375
1048568  -1375
1048569  -1375
1048570  -1375
1048571  -1375
1048572  -1375
1048573  -1375
1048574  -1375

[1048575 rows x 1 columns]>